<div class="action-dashboard dashboard">
    <h3><i class="fa-solid fa-plus"></i>Ações Rápidas</h3>
    <div class="grid">
        {% for action in quick_actions %}
            <a href="{{ action.link_module }}" class="grid-item">
                <div class="grid-item-content">
                    <i class="action-icon fa-solid fa-{{ action.fa_icon }}"></i>
    
                    <div>
                        <h5>{{ action.header }}</h5>
                        <p>{{ action.description }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>