<div class="action-dashboard dashboard">
    <h3><i class="fa-solid fa-plus"></i>Ações Rápidas</h3>
    <div class="grid">
        {% for action in quick_actions %}
            <a href="{{ action.url }}" class="grid-item">
                <i class="action-icon fa-solid fa-{{ action.fa_icon }}"></i>

                <div class="grid-item-content">
                    <h5>{{ action.header }}</h5>
                    <h5>{{ action.description }}</h5>
                </div>
            </a>
        {% endfor %}
    </div>
</div>