{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/dashboards.css" %}">
{% endblock head %}

<div class="table-dashboard dashboard">
    <table>
        {% comment %} display small list dashboard of all appointments w/ data {% endcomment %}
        <thead>
            <tr>
                <th class="header-item-actions">Ações</th>
                {% for field in field_names %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dict in object_dicts %}
                <tr>
                    <td class="item-actions">
                        <a href="" title="ver em detalhe"><i class="fa-solid fa-circle-info" ></i>Detalhar</a>
                        <a href="" title="deletar"><i class="fa-solid fa-circle-minus" ></i>Deletar</a>
                        <a href="" title="editar"><i class="fa-solid fa-pencil" ></i>Editar</a>
                        <a href="" title="histórico"><i class="fa-solid fa-clock-rotate-left" ></i>Histórico</a>
                    </td>
                    {% for key, value in dict.items %}
                    <td>
                        {% if key == "imagem" %}
                            <img src="{{ value.url }}" alt="{{ dict.nome }}'s photo" title="{{ dict.nome }}">
                        {% elif key == "preco" %}
                            R$ {{ value }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{{ field_names|length }}" class="py-4 text-gray-500">No clients found.<br> Please add it at
                        <button class="">
                            {% comment %} <a href="{% url "cadastros:clients:registrar" %}">
                                here
                            </a> {% endcomment %}
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>