{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/dashboards.css" %}">
    <link rel="stylesheet" href="{% static "css/search.css" %}">
{% endblock head %}

<div class="table-dashboard dashboard">
    {% include "partials/search/search-bar.html" %}
    <table>
        {% comment %} display small list dashboard of all appointments w/ data {% endcomment %}
        <thead>
            <tr>
                {% for field in field_names %}
                <th>{{ field }}</th>
                {% endfor %}
                <th class="header-item-actions">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for dict in object_dicts %}
                <tr>
                    {% for key, value in dict.items %}
                    <td>
                        {% if key == "imagem" %}
                            <img src="{{ value.url }}" alt="{{ dict.nome }}'s photo" title="{{ dict.nome }}">
                        {% elif key == "preco" %}
                            R$ {{ value }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                    {% endfor %}
                    <td class="item-actions">
                        <a href="" title="ver em detalhe"><i class="fa-solid fa-circle-info" ></i>Detalhar</a>
                        <a href="" title="deletar"><i class="fa-solid fa-circle-minus" ></i>Deletar</a>
                        <a href="" title="editar"><i class="fa-solid fa-pencil" ></i>Editar</a>
                        <a href="" title="histórico"><i class="fa-solid fa-clock-rotate-left" ></i>Histórico</a>
                    </td>
                </tr>
            {% empty %}
                <tr style="height:100%">
                    <td colspan="{{ field_names|length }}" style="height:100%; font-size:1.5rem;">Nenhum {{ app_name }} encontrado.<br> Porfavor adicione
                        <button>
                            <a href="{{ url_submodule_create }}">
                                aqui
                            </a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>