{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ title }} - Saloon Management
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="Management Page for the Saloon (fictional)">
        <meta name="keywords" content="saloon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/20ee9826cd.js" crossorigin="anonymous"></script>
        <link rel="icon" href="{% static "imgs/icons/kiss.png" %}">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <header>
            <div class="wrapper header-content">
                <div>
                    {% if user.is_authenticated %}
                        <p>Usuário Logado: {{ user.username }}</p>
                    {% else %}
                        <p>Não está logado</p>
                    {% endif %}

                </div>

                <a class="header-title" href="{% url "home" %}">
                    <img src="{% static "imgs/kiss.png" %}" alt="saloon icon" width="32" height="auto">
                    <h1>
                        {{ title }}<span id="mgmt-title"> - Saloon Management</span>
                    </h1>
                </a>

                <a href="{% url "core:auth:logout" %}">Logout</a>
            </div>
        </header>
        
        <main>
            {% if sidebar %}
                <aside>
                    {% include "partials/nav-bar.html" %}
                </aside>
            {% endif %}
    
            <section class="main-content">
                <div class="wrapper">
                    {% block content %}
                    {% endblock content %}
                </div>
            </section>
        </main>
    
        <footer>
            
        </footer>
    </body>
</html>