{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ title }} - Saloon Management
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="Management Page for the Saloon (fictional)">
        <meta name="keywords" content="saloon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{% static "imgs/icons/kiss.png" %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        {% block head %}{% endblock head %}
    </head>

    <body>
        <header>
            <div class="wrapper header-content">
                <a class="header-title" href="">
                    <img src="{% static "imgs/kiss.png" %}" alt="saloon icon" width="32" height="auto">
                    <h1>
                        {{ title }}<span id="mgmt-title"> - Saloon Management</span>
                    </h1>
                </a>
            </div>
        </header>
        
        <main>
            <aside>
                {% include "partials/nav-bar.html" %}
            </aside>
    
            <section class="main-content">
                <div class="wrapper">
                    a
                    {% block content %}
                    {% endblock content %}
                </div>
            </section>
        </main>
    
        <footer>
            {% comment %} {% include "common/footer-nav.html" %} {% endcomment %}
        </footer>
    </body>
</html>