{% extends "base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/dashboards.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock head %}

{% block content %}
    {% include "partials/components/dashboards/quickinfo-dashboard.html" %}

    <section class="dashboard-partition">
        {% include "partials/components/dashboards/actions-dashboard.html" %}
        {% include "partials/components/dashboards/workers-dashboard.html" %}
    </section>


{% endblock content %}
