{% extends "base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/dashboards.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock head %}

{% block content %}
    <div class="home-dashboard dashboard">
        {% for module in modules %}
        <div class="module">
            <h3>{{ module.name }}</h3>
            <div class="inner-grid">
                {% for key, value in module.url_names.items %}
                {% url value as resolved_url %}
                    <a href="{{ resolved_url }}">{{ key }}</a>
                    <a href="{{ resolved_url }}">{{ key }}</a>
                    <a href="{{ resolved_url }}">{{ key }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}

