{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboards.css' %}">
    <link rel="stylesheet" href="{% static 'css/planilhas/planilha-diaria.css' %}">
    <style>
        .addition-link{
            padding: 0.2rem 0.6rem !important;
        }
    </style>
{% endblock head %}

{% block content %}
    <div class="planilha-diaria dashboard">
        <nav class="data-nav {% if data_referencia_display == "Hoje" %}data-nav-hoje{% endif %}">
            <a href="{% url 'servicos:agendamentos:planilha_diaria' dia_anterior_diff %}" class="data-nav-link">
                <i class="fa-solid fa-chevron-left"></i> {{ dia_anterior_diff_display }}
            </a>

            <div class="data-nav-display">
                <h3 class="data-referencia-display">{{ data_referencia_display }}</h3>
                <span class="data-faded"><i class="fa-solid fa-calendar-days"></i>  {{ data_referencia }}</span>
                {% if data_referencia_display == "Hoje" %}
                    <p class="badge badge-today">Hoje</p>
                {% else %}
                    <a href="{% url 'servicos:agendamentos:planilha_diaria' 0 %}" class="nav-link-hoje">
                        <p>Voltar para Hoje</p>
                    </a>
                {% endif %}
            </div>

            <a href="{% url 'servicos:agendamentos:planilha_diaria' dia_seguinte_diff %}" class="data-nav-link">
                {{ dia_seguinte_diff_display }} <i class="fa-solid fa-chevron-right"></i> 
            </a>
        </nav>

        <section>
            {% for status, agendamentos in agendamentos_fluxo_dict.items %}
                <section class="status-coluna">
                    <h2 class="status-title status-{{ status }}">
                        {{ status|title }}
                        {% include "partials/planilhas/icone-status-coluna.html" %}
                    </h2>
                    <div class="cards-container">
                        {% for agendamento in agendamentos %}
                            {% include "partials/planilhas/card-agendamento.html" %}
                        {% endfor %}
                        {% if status != "cancelado" %}
                            <div class="cards-empty">
                                <p>Sem mais agendamentos. <br>
                                    <a href="{% url 'servicos:agendamentos:create' %}?status={{ status }}&next={{ request.get_full_path|urlencode }}" class="addition-link">Adicione mais</a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </section>
            {% endfor %}
        </section>
    </div>
{% endblock content %}
