{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/dashboards.css" %}">
    <link rel="stylesheet" href="{% static "css/search.css" %}">

{% endblock head %}

{% block content %}
    <div class="table-dashboard dashboard">
        {% include "partials/search/search-bar.html" %}
        
        <form method="post" action="">
            {% csrf_token %}

            <table>
                <thead>
                    <tr>
                        <th class="radio-header">Selecionar</th>
                        {% for field in field_names %}
                            <th>{{ field }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for dict in object_dicts %}
                        <tr data-radio-id="radio-{{ forloop.counter }}">
                            <!-- Coluna do radio button -->
                            <td>
                                <input class="radio-button" type="radio" id="radio-{{ forloop.counter }}" name="selecao_id" value="{{ dict.pk }}">
                            </td>

                            <!-- Colunas de dados -->
                            {% for key, value in dict.items %}
                                {% if key != "pk" %}
                                    <td class="radio-button">
                                        {% if key == "imagem" and value %}
                                            <img src="{{ value.url }}" alt="{{ dict.nome_fantasia }}'s photo">
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% empty %}
                        <tr style="height:100%">
                            <td colspan="{{ field_names|length|add:'1' }}">
                                Nada encontrado. Favor contatar administrador.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "partials/form-partials/submit.html" %}
        </form>
    </div>
{% endblock content %}


{% block scripts %}
    <script src="{% static "js/selection-observers.js" %}"></script>
{% endblock scripts %}