{% extends "base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboards.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock head %}

{% block content %}
<!-- Worker Registration Render -->
    <div class="form-dashboard dashboard">
        <form method="post" novalidate {% if form_with_file %}enctype="multipart/form-data"{% endif %} >
            {% csrf_token %}

            {% include "partials/components/redirections/redirection-input.html" %}

            <section class="form-section">
                <h2>Informações de {{ form_name }}</h2>
                {% if form_name == "Login" or form_name == "Registro" %}
                    {% if user.is_authenticated %}
                        <ul>
                            <li>Você já está logado em uma conta!</li>
                        </ul>
                    {% endif %}
                    {% if form_name == "Logout" and not user.is_authenticated %}
                    <ul>
                        <li>Você já está deslogado!</li>
                    </ul>
                    {% endif %}
                {% endif %}
                
                {% for field in form %}
                    {% include "partials/form-partials/dynamic-field.html" %}
                {% endfor %}
                {% if form.non_field_errors %}
                    <ul class="non_field_errors">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
            
            {% if form_name == "Login" %}
                <a id="not-registered" href="{% url "core:auth:signup" %}">Não sou registrado</a>
            {% endif %}

            {% include "partials/form-partials/submit.html" %}
        </form>
    </div>
{% endblock content %}