
<div class="wrapper">
    <nav class="side-nav-bar">
        <div class="nav-header">
            <div class="nav-header-title">
                <div class="nav-header-icon">
                    <img src="{{ request.empresa.imagem.url }}" alt="Ícone da Empresa">
                </div>
                <h2>{{ request.empresa.nome_fantasia }}</h2>
            </div>

            <hr>

            <a class="home-nav" href="{% url "home" %}"><i class="fa-solid fa-house"></i> Home</a>
        </div>

        {% comment %} * Links de módulos começam aqui. {% endcomment %}

        <div class="nav-divider">
            <span class="divider-text">Planilhas</span>
        </div>

        <section class="nav-section">
            <div class="submodules-nav">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'servicos:agendamentos:planilha_diaria' 0 %}">
                        <i class="fa-solid fa-users"></i>
                        <span>Planilha Diária</span>
                    </a>
                </div>
            </div>
        </section>

        <div class="nav-divider">
            <span class="divider-text">Listagens</span>
        </div>

        <section class="nav-section">
            <a class="module-name" href="{% url 'cadastros:list' %}"><h5>Cadastros</h5></a>
            <div class="submodules-nav">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'cadastros:clientes:list' %}">
                        <i class="fa-solid fa-circle-user"></i>
                        <span>Clientes</span>
                    </a>
                    <a class="nav-add" href="{% url 'cadastros:clientes:create' %}" title="Adicionar novo">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'cadastros:trabalhadores:list' %}">
                        <i class="fa-solid fa-briefcase"></i>
                        <span>Trabalhadores</span>
                    </a>
                    <a class="nav-add" href="{% url 'cadastros:trabalhadores:create' %}" title="Adicionar novo">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
        </section>

        <section class="nav-section">
            <a class="module-name" href="{% url "servicos:list" %}"><h5> Serviços</h5></a>
            <div class="submodules-nav">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'servicos:agendamentos:list' %}">
                        <i class="fa-solid fa-calendar"></i>
                        <span>Agendamentos</span>
                    </a>
                    <a class="nav-add" href="{% url 'servicos:agendamentos:create' %}" title="Adicionar novo">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'servicos:tipo_servicos:list' %}">
                        <i class="fa-solid fa-scissors"></i>
                        <span>Tipos Ofertados</span>
                    </a>
                    <a class="nav-add" href="{% url 'servicos:tipo_servicos:create' %}" title="Adicionar novo">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
        </section>

        <div class="nav-divider">
            <span class="divider-text">Relatórios</span>
        </div>

        <section class="nav-section">
            <div class="submodules-nav">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'relatorios:list' %}">
                        <i class="fa-solid fa-file-invoice"></i>
                        <span>Relatórios Administrativos</span>
                    </a>
                </div>
            </div>
        </section>

    </nav>
</div>