{% load static %}

<div class="wrapper">
    <nav class="side-nav-bar">
        <div class="nav-header">
            <div class="nav-header-title">
                <div class="nav-header-icon">
                    <img src="{% static "imgs/kiss.png" %}" alt="Ícone da Empresa">
                </div>
                <h1>Nome Empresa</h1>
            </div>

            <hr>
        </div>

        <a class="home-nav" href="{% url "home" %}"><i class="fa-solid fa-house"></i> Home</a>

        <section class="nav-section">
            <a class="module-name" href="{% url "cadastros:list" %}"><h5> Cadastros</h5></a>
            <div class="submodules-nav">
                <a href="{% url "cadastros:empresas:list" %}"><i class="fa-solid fa-building"></i> Empresas</a>
                <a href="{% url "cadastros:clientes:list" %}"><i class="fa-solid fa-circle-user"></i> Clientes</a>
                <a href="{% url "cadastros:trabalhadores:list" %}"><i class="fa-solid fa-briefcase"></i> Trabalhadores</a>
            </div>
        </section>

        <section class="nav-section">
            <a class="module-name" href="{% url "servicos:list" %}"><h5> Serviços</h5></a>
            <div class="submodules-nav">
                <a href="{% url "servicos:agendamentos:list" %}"><i class="fa-solid fa-calendar"></i> Agendamentos</a>
                <a href="{% url "cadastros:tipo_servicos:list" %}"><i class="fa-solid fa-scissors"></i> Tipos Ofertados</a>
            </div>
        </section>
    </nav>
</div>