{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>{{ nome }} - {{ mes_referencia }}</title>
        <link rel="stylesheet" href="">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header>
            <h1>{{ nome }}</h1>
            <p>Mês de referência: {{ mes_referencia }}</p>
            <p>Emitido por: {{ emissor_nome }}</p>
            <hr>
        </header>

        {% block content %}
        {% endblock content %}

    </body>
</html>