/* Base CSS for all views */
:root {
  --base-bg-color: #9867ed;
  --bg-color-dark: #433655;
  --bg-color-mid: #876baa;
  --bg-color-light: #a08db6;
  --bg-color-fade: #876baa5c;
  --bg-color-marginals: #e1e0e0;

  --border-color-dark: #4336557c;

  --sidebar-width: 17vw;
  --headers-height: 5rem;
  --footer-height: 15rem;
  --footer-difference: calc((var(--footer-height) * -1) + 3rem);

  --main-content-left-pos: 58.5%;
}

/* Reset and global styles */
* {
  box-sizing: border-box;
  border-radius: 0.75rem;
}

html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  min-height: 100vh;
  overflow: hidden;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif, Verdana;
  margin: 0;
  padding: 0.25rem;
}

h1 { font-size: 1.5rem; font-weight: 700; }
h2 { font-size: 1.25rem; }
h3 { font-size: 1rem; }

p, span, td {
  font-size: 0.8rem;
  font-family: inherit;
}

/* Links -> Button-Style */
a {
  text-decoration: none;
  color: inherit;
  transition: color 125ms, background-color 125ms;
  padding: 0.4rem;
}
a.disabled{
  pointer-events: none;
  cursor: default;
}
a.disabled:hover{
  color: initial;
  background-color: initial;
}

button{
  border: solid 1px #dbdada;
}

/* New item link */
td:has(.addition-link){
  line-height: 3rem;
}
a.addition-link {
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: #fff;

  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

a.addition-link:hover {
  background-color: #45a049;
}


/* Font Awesome Icon spacing */
.side-nav-bar .fa::before, .fa-solid::before {
  margin-right: 4px;
}

/* keep items centered */
.wrapper {
  margin: auto auto;
  width: 93%;
  height: 92%;
  padding: 0;
  display: flex;
}

/* utility to make vertical divisorys */
.vertical-divisor {
  width: 2px;
  background-color: #cccccc87;  /* Solid border color */
  align-self: stretch;
}

/* background overlay for popups */
.popup-overlay {
  display: none;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 100;
}


/* images with no stretch */
img {
  object-fit: cover;
  width: 100%;
}


/** ---------------- Sidebar ---------------- */
aside {
  display: flex;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--bg-color-dark);
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 0;
  flex-shrink: 0;
}

aside .wrapper {
  width: 94%;
  height: 98%;
}

.side-nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.side-nav-bar .nav-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  flex-shrink: 0;
}

.side-nav-bar .nav-header .nav-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0.2rem;
}

.side-nav-bar .nav-header .nav-header-title h2 {
  font-size: 1.5rem;
}

.side-nav-bar .nav-header .nav-header-icon {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-nav-bar h4 {
  margin: 0;
}

/* Nav links */
.side-nav-bar a {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

/* Home nav link */
.side-nav-bar a.home-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto 1.2rem;
  height: 2.4rem;
  padding: 0.5rem;
  border: 2px solid white;
  background-color: white;
  color: var(--bg-color-mid);
}

/* Module name links */
.side-nav-bar section.nav-section {
  width: 100%;
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.side-nav-bar section.nav-section a.module-name {
  width: fit-content;
  height: 2.4rem;
  padding: 0.5rem;
  color: white;
}

.side-nav-bar section.nav-section a.module-name:hover {
  background-color: var(--bg-color-mid);
}

/* Submodule container */
.side-nav-bar .submodules-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.4rem;
}

/* Each submodule row (with two links inside) */
.side-nav-bar .submodules-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 2px solid white;
  height: 3rem;
  padding: 0 0.6rem;
  color: var(--bg-color-mid);
}

.side-nav-bar .submodules-nav .nav-item:hover {
  background-color: var(--bg-color-mid);
  color: white;
}

/* Link to list */
.side-nav-bar .submodules-nav .nav-link {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.4rem;
  flex-grow: 1;
  height: 100%;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

.side-nav-bar .submodules-nav .nav-item:hover .nav-link {
  color: white;
}

/* Link to add */
.side-nav-bar .submodules-nav .nav-add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 0.4rem;
  font-size: 0.9rem;
  color: inherit;
  transition: color 0.2s;
  & .fa, .fa-solid{
    content: "Novo";
  }
}



/* Home & default submodule colors */
.side-nav-bar a.home-nav,
.side-nav-bar .submodules-nav .nav-item {
  background-color: white;
  color: var(--bg-color-mid);
}

/* Hover states */
.side-nav-bar a.home-nav:hover,
.side-nav-bar .submodules-nav .nav-item:hover {
  background-color: var(--bg-color-mid);
  color: white;
}

.side-nav-bar hr {
  width: 95%;
  background-color: white;
  height: 0.5rem;
  margin: 0.6rem 0 1rem;
  flex-shrink: 0;
}


/** ---------------- Main Layout ---------------- */
main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  border-radius: 0;
}

/* Header */
header {
  background-color: var(--base-bg-color);
  border-bottom: var(--border-color-dark) solid 1px;
  height: var(--headers-height);
  display: flex;
  align-items: center;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  height: 80%;
  margin: 0 auto;
}

header .header-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.75rem;
  & p.header-description{
    font-size: 0.9rem;
  }
}

header .header-intro h1.header-title,
header .header-intro p.header-description {
  margin: 0;
  padding: 0;
}

header .header-actions {
  display: flex;
  align-items: center;
}

header .header-actions .action {
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 0.8rem;
  border-radius: 0.75rem;
  transition: background-color 125ms, color 125ms;
  & .fa::before, .fa-solid::before{
    margin: 0;
  }
}

header .header-actions .action + .action {
  margin-left: 0.6rem;
}
header .header-actions .action.profile {
  color: #3c2b52;
}
header .header-actions .action.logout {
  color: #ff6474;
}

header .header-actions .action.profile:hover {
  color: rgb(37, 106, 254);
  background-color: rgb(228, 241, 255);
}

header .header-actions .action.logout:hover {
  color: red;
  background-color: rgb(255, 231, 231);
}

/* Main content area (scrollable) */
section.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: calc(100% - var(--headers-height) - var(--footer-height) - var(--footer-difference));
}


section.main-content .wrapper {
  width: 96%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Footer (hover movable) */
footer {
  position: absolute;
  left: 0;
  bottom: var(--footer-difference);
  width: 100%;
  height: var(--footer-height);

  background-color: var(--bg-color-marginals);
  border-top: var(--border-color-dark) solid 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  flex-shrink: 0;

  transition: transform 400ms ease-out;
}

footer:hover{
  transform: translateY(
    var(--footer-difference)
  );
}

/* Responsive */
@media (max-width: 640px) {
  header .header-title h1 {
    font-size: 0.875rem;
  }

  header .header-title img {
    transform: scale(0.75);
  }

  .side-nav-bar a {
    transform: scale(0.9);
  }
}

@media (min-width: 1024px) {
  #mgmt-title {
    display: inline;
    font-weight: 300;
    font-size: 1.875rem;
  }
}
