/*? daily-dashboard, .table-dashboard, .grid-dashboard */
.dashboard {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem; /* p-2 */
  border-radius: 1rem; /* rounded-2xl */
  box-shadow: 0px 0px 40px -33px rgba(0,0,0,0.7);
}

.dashboard div.dashboard-head {
  display: flex;
  align-items: center;
  width: 100%;
}

.dashboard div.dashboard-head a {
  font-family: sans-serif;
  font-weight: 600;
  color: #2563eb; /* text-blue-600 */
  align-self: center;
  justify-self: end;
}

/** table dashboards */
div.table-dashboard {
  overflow-x: auto;
}

div.table-dashboard table {
  width: 100%;
  table-layout: auto;
}

div.table-dashboard table * tr th,
div.table-dashboard table * tr td {
  padding: 0.5rem 1rem; /* px-4 py-2 */
  text-align: center;
}

div.table-dashboard table * tr td {
  border: 1px solid #d1d5db; /* border-gray-300 */
}

div.table-dashboard table tbody {
  overflow-y: auto;
}

/** grid-dashboards */
div.grid-dashboard {
  overflow: auto;
}

div.grid-dashboard div.grid {
  max-height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.625rem; /* gap-2.5 */

  /* Large screen */
}

div.grid-dashboard div.grid div.worker {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #9ca3af; /* border-gray-400 */
}

div.grid-dashboard div.grid div.worker div,
div.grid-dashboard div.grid div.worker img {
  min-width: 25%;
  height: 100%;
  max-width: 100%;
}

div.grid-dashboard div.grid div.worker div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.grid-dashboard div.grid div.worker div span {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}


div.grid-dashboard div.grid div.worker div span img {
  width: 30%;
  height: auto;
}


/* Force each inner child to have its own fixed proportion */
div.grid-dashboard div.grid div.worker > * {
  flex-basis: 25%;
  flex-shrink: 0;
}

/* custom screen size */


/** daily dashboard (simple flexbox) */
.daily-dashboard h2 {
  font-size: inherit;
}

/* Modules */
.modules-dashboard{
  display: grid;
  padding: 1.4rem;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 14px;
}

.modules-dashboard h3{
  margin: 0;
}

.modules-dashboard div{
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modules-dashboard div.module {
  border: 2px solid var(--bg-color-light);
}
.modules-dashboard div.module h3 {
  font-size: 2rem;
  color: var(--bg-color-dark);
}
.modules-dashboard div.module div.inner-grid{
  display: grid;
  padding: 0.6rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}
.modules-dashboard div.module div.inner-grid a{
  height: 90%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  transition: scale 200ms ease-out;
}
.modules-dashboard div.module div.inner-grid a > span{
  /* place-self: center center; */
  font-size: 1.3rem;
}

.modules-dashboard div.module div.inner-grid a:hover{
  scale: 120%;
}

/* specific inner grid childs colors */
.modules-dashboard div.module div.inner-grid a:nth-child(1){
  background-color: var(--bg-color-mid);
}
.modules-dashboard div.module div.inner-grid a:nth-child(2){
  background-color: rgb(110, 199, 58);
}
.modules-dashboard div.module div.inner-grid a:nth-child(3){
  background-color: rgb(243, 183, 30);
}
.modules-dashboard div.module div.inner-grid a:nth-child(4){
  background-color: rgb(74, 129, 163);
}

/* Responsive */
@media (min-width: 1024px) {
  div.grid-dashboard div.grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem; /* lg:gap-4 */
  }
}

@media (max-width: 1024px) {
  div.grid-dashboard div.grid div.worker {
    grid-template-columns: repeat(2, 1fr);
  }
  div.grid-dashboard div.grid div.worker div.eliminable {
    display: none;
  }
  .daily-dashboard h2 {
    font-size: 1.125rem; /* text-lg */
  }
}

@media (max-width: 640px) {
  div.grid-dashboard div.grid div.worker div span {
    font-size: 12px;
  }
  .daily-dashboard h2 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 490px) {
  div.grid-dashboard div.grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-height: 490px) {
  div.grid-dashboard div.grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
