/*? daily-dashboard, .table-dashboard, .grid-dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0.3rem; /* p-2 */
  border-radius: 1rem; /* rounded-2xl */
  box-shadow: 0px 0px 30px -18px rgba(0,0,0,0.8);
}

.dashboard div.dashboard-head {
  display: flex;
  align-items: center;
  width: 100%;
}

.dashboard div.dashboard-head a {
  font-family: sans-serif;
  font-weight: 600;
  color: #2563eb; /* text-blue-600 */
  align-self: center;
  justify-self: end;
}

/** table dashboards */
div.table-dashboard {
  width: 100%;
  overflow-x: auto;
}

/* Table */
div.table-dashboard table {
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

/* Thead (fixed) */
div.table-dashboard thead {
  display: table;
  width: 100%;
  & tr, tr th{
    height: 100%;
    width: 100%;
  }
}

/* Tbody (scrollable) */
div.table-dashboard tbody {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

/* Table rows and cells */
div.table-dashboard tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

div.table-dashboard th {
  font-size: 1.4rem;
  background-color: var(--bg-color-mid);
  color: white;
  line-height: 3.6rem;
}

div.table-dashboard td {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  border: 1px solid #d1d5db; /* gray-300 */
  background-color: white;
  height: 2rem;
}
div.table-dashboard td:has(> img) {
  & img{
    object-fit: contain;
    height: 6rem;
  }
}

/* table quick actions */
div.table-dashboard .header-item-actions{
  font-size: 1rem;
}
div.table-dashboard .item-actions{
  height: fit-content;
  display: grid;
  color: black;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  & > *{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
  }
  & > *:hover{
    color: white;
  }
}

td.item-actions a:nth-child(1){
  color: var(--bg-color-mid);
}
td.item-actions a:nth-child(2){
  color: rgb(209, 83, 52);
}
td.item-actions a:nth-child(3){
  color: rgb(243, 183, 30);
}
td.item-actions a:nth-child(4){
  color: rgb(74, 129, 163);
}
td.item-actions a:nth-child(1):hover{
  background-color: var(--bg-color-mid);
}
td.item-actions a:nth-child(2):hover{
  background-color: rgb(255, 0, 0);
}
td.item-actions a:nth-child(3):hover{
  background-color: rgb(243, 183, 30);
}
td.item-actions a:nth-child(4):hover{
  background-color: rgb(74, 129, 163);
}

/* Quick Info (simple grid in row) */
.quick-dashboard{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.4rem;
  padding: 1.5rem;
  width: 100%;
  max-height: 25vh;

  transition: transform 250ms ease-in-out;
}

.quick-dashboard a.dash-item {
  height: 100%;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #CCC;
  background-color: white;
  transition: inherit;
}

.quick-dashboard .dash-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  width: 80%;
  flex-direction: column;
  & * {
    margin: 0;
    padding: 0;
  }
}

.quick-dashboard .dash-item-content p:nth-child(1) {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.quick-dashboard .dash-header {
  margin-bottom: 0.4rem;
  opacity: 80%;
}

.quick-dashboard .dash-value {
  font-size: 1rem;
  font-weight: bold;
}

.quick-dashboard .dash-icon {
  flex: 1;
} 
.quick-dashboard .dash-icon::before {
  margin: 0;
  padding: 0.5rem;
  border-radius: inherit;
}

.quick-dashboard .dash-conclusion {
  color: var(--bg-color-light);
}

a.dash-item:hover{
  transform: scale(108%);
}

/* FontAwesome icons custom colors */
.quick-dashboard .dash-item {
  & .fa-user::before{
    color: blue;
    background-color: #c9d9fb;
  }
  & .fa-dollar-sign::before{
    color: green;
    background-color: #ceffc7;
  }
  & .fa-clock::before{
    color: purple;
    background-color: #ffc3ff;
  }
  & .fa-briefcase::before{
    color: rgb(92, 92, 11);
    background-color: #f9ffb3;
  }
}

/* Actions (grid, 4 itens) */
.action-dashboard {
  position: relative;
  height: 20rem;
  width: 20rem;
}

.action-dashboard .grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.7rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.action-dashboard .grid-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.action-dashboard .grid-item-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%;
  height: 83%;
  
  & p {
    margin: 0;
  }
}

.action-dashboard .grid-item:nth-child(1){
  background: #ceb80f
}
.action-dashboard .grid-item:nth-child(2){
  background: #1bad0b
}
.action-dashboard .grid-item:nth-child(3){
  background: var(--bg-color-mid)
}
.action-dashboard .grid-item:nth-child(4){
  background: #000000
}

/* Modules */
.modules-dashboard{
  display: grid;
  padding: 1.4rem;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 14px;
}

.modules-dashboard h3{
  margin: 0;
}

.modules-dashboard div{
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modules-dashboard div.module {
  border: 2px solid var(--bg-color-fade);
}
.modules-dashboard div.module h3 {
  font-size: 2rem;
  color: var(--bg-color-dark);
}
.modules-dashboard div.module div.inner-grid{
  display: grid;
  padding: 0.6rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}
.modules-dashboard div.module div.inner-grid a{
  height: 90%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  transition: scale 200ms ease-out;
}
.modules-dashboard div.module div.inner-grid a > span{
  /* place-self: center center; */
  font-size: 1.3rem;
}

.modules-dashboard div.module div.inner-grid a:hover{
  scale: 120%;
}

/* specific inner grid childs colors */
.modules-dashboard div.module div.inner-grid a:nth-child(1){
  background-color: var(--bg-color-mid);
}
.modules-dashboard div.module div.inner-grid a:nth-child(2){
  background-color: rgb(110, 199, 58);
}
.modules-dashboard div.module div.inner-grid a:nth-child(3){
  background-color: rgb(243, 183, 30);
}
.modules-dashboard div.module div.inner-grid a:nth-child(4){
  background-color: rgb(74, 129, 163);
}

/* Responsive */
@media (min-width: 1024px) {
  div.grid-dashboard div.grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem; /* lg:gap-4 */
  }
}

@media (max-width: 1024px) {
  div.grid-dashboard div.grid div.worker {
    grid-template-columns: repeat(2, 1fr);
  }
  div.grid-dashboard div.grid div.worker div.eliminable {
    display: none;
  }
  .daily-dashboard h2 {
    font-size: 1.125rem; /* text-lg */
  }
}

@media (max-width: 640px) {
  div.grid-dashboard div.grid div.worker div span {
    font-size: 12px;
  }
  .daily-dashboard h2 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 490px) {
  div.grid-dashboard div.grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-height: 490px) {
  div.grid-dashboard div.grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
