.message-container {
  position: fixed;
  height: fit-content;
  width: fit-content;
  top: 2rem;
  left: var(--main-content-left-pos);
  transform: translateX(-50%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 9999;
}

.message-container-in-center {
  left: 50%;
}

.message-popup {
  height: fit-content;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  z-index: 9999;
  
  opacity: 0;
  animation: slideIn 0.5s forwards;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
}

.message-success { background-color: #4CAF50; }    /* Green */
.message-error   { background-color: #f44336; }    /* Red */
.message-warning { background-color: #ff9800; }    /* Orange */
.message-info, .message-debug { background-color: #5b6c7b; } /* Blue */


.message-popup .btn-close {
  width: fit-content;
  height: fit-content;
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.message-popup .btn-close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Slide animations on closure */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide out to left */
@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  60%{
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-10%);
  }
}

.message-popup.fade-out {
  animation: slideOutLeft 0.6s forwards;
}

