<div class="agendamento-card">
    <div class="card-header">
        <h4 class="card-client">
            <i class="fa-solid fa-circle-user"></i>
            {{ agendamento.cliente.nome }}
        </h4>
        <p class="card-time">
            <i class="fa-solid fa-clock"></i>
            {{ agendamento.data_agendado|time:"H:i" }}
        </p>
    </div>
    <div class="card-body">
            {% comment %} TODO adicionar delta tempo para mostragem{% endcomment %}
        </p>
        <p class="card-service">
            <i class="fa-solid fa-scissors"></i>
            {{ agendamento.servico.nome }}
        </p>
        <p class="card-price">
            <i class="fa-solid fa-dollar-sign"></i>
            {{ agendamento.servico.preco }}
        </p>

        <hr>
        <p class="card-worker">
            <i class="fa-solid fa-briefcase"></i>
            {{ agendamento.trabalhador.nome }}
        </p>
        <hr>
    </div>
    <div class="card-actions">
        {# Formulário para voltar no status #}
        {% if agendamento.status == 'E' or agendamento.status == 'F' %}
            <form action="{# {% url "servicos:agendamentos:last-status" agendamento.pk %}#}"  method="post" class="small-action">
                {% csrf_token %}
            
                <button type="submit" class="btn-action btn-revert"><i class="fa-solid fa-chevron-left"></i></button>
            </form>
        {% endif %}
        {# Formulário para avançar no status #}
        {% if agendamento.status == 'P' or agendamento.status == 'E' %}
            <form action="{% url 'servicos:agendamentos:next-status' agendamento.pk %}" method="post">
                {% csrf_token %}

                <button type="submit" class="btn-action btn-next"><i class="fa-solid fa-chevron-right"></i> Avançar</button>
            </form>
        {% endif %}
        {# Formulário para cancelar #}
        {% if agendamento.status != 'F' and agendamento.status != 'C' %}
            <form action="{% url 'servicos:agendamentos:next-status' agendamento.pk %}" method="post" class="small-action">
                {% csrf_token %}

                <input type="hidden" name="status" value="C">
                <button type="submit" class="btn-action btn-cancel"><i class="fa-regular fa-circle-xmark"></i></button>
            </form>
        {% endif %}
        {% if agendamento.status == 'C' %}
            <form action="{% url 'servicos:agendamentos:next-status' agendamento.pk %}" method="post" class="medium-action">
                {% csrf_token %}

                <input type="hidden" name="status" value="P">
                <button type="submit" class="btn-action btn-voltar-pendente"><i class="fa-solid fa-chevron-left"></i> Pendente</button>
            </form>
        {% endif %}
    </div>
</div>
    