<div class="agendamento-card"> {% comment %} TODO mudar para Detail do agendamento {% endcomment %}
    <a href="{% url 'servicos:agendamentos:list' %}" class="card-content">    
        <div class="card-header">
            <h4 class="card-client">
                <i class="fa-solid fa-circle-user"></i>
                {{ agendamento.cliente.nome }}
            </h4>
            <p class="card-time">
                <i class="fa-solid fa-clock"></i>
                {{ agendamento.data_agendado|time:"H:i" }}
            </p>
        </div>
        <div class="card-body">
            {% comment %} TODO adicionar delta tempo para mostragem{% endcomment %}
        </p>
        <p class="card-service">
            <i class="fa-solid fa-scissors"></i>
            {{ agendamento.servico.nome }}
        </p>
        <p class="card-price">
            <i class="fa-solid fa-dollar-sign"></i>
            {{ agendamento.servico.preco }}
        </p>
        
        <hr>
        <p class="card-worker">
            <i class="fa-solid fa-briefcase"></i>
            {{ agendamento.trabalhador.nome }}
        </p>
    </div>
    </a>
    <hr>
    <div class="card-actions">
        {# Formulário para voltar status #}
        {% if agendamento.status == 'E' or agendamento.status == 'F' %}
            {% include "partials/planilhas/actions/planilha-action.html" with action_url=urls_actions.last_status_url size="small" status_update="previous" button_class="revert" fa_icon="chevron-left" %}
        {% endif %}

        {# Formulário para avançar status #}
        {% if agendamento.status == 'P' or agendamento.status == 'E' %}
            {% include "partials/planilhas/actions/planilha-action.html" with action_url=urls_actions.next_status_url button_class="next" fa_icon="chevron-right" button_text="Avançar" %}
        {% endif %}

        {# Formulário para cancelar #}
        {% if agendamento.status != 'F' and agendamento.status != 'C' %}
            {% include "partials/planilhas/actions/planilha-action.html" with action_url=urls_actions.next_status_url size="small" status_update="C" button_class="cancel" fa_icon="circle-xmark" %}
        {% endif %}

        {# Formulário para voltar para Pendente #}
        {% if agendamento.status == 'C' %}
            {% include "partials/planilhas/actions/planilha-action.html" with action_url=urls_actions.next_status_url size="medium" status_update="P" button_class="voltar-pendente" fa_icon="rotate-left" button_text="Pendente" %}
        {% endif %}
    </div>
</div>
