/* Layout Principal da Planilha Diária (Kanban) */
.planilha-diaria {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

nav.data-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    border: 1px solid #bdbdbd;
    background-color: #ffffff;
    border-radius: 0.8rem;
}

/* custom quando dia de hoje */
nav.data-nav.data-nav-hoje {
    background-color: var(--bg-color-light);
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
    color: white;
    & .data-nav-link:hover{
        background-color: var(--bg-color-mid)
    }
}

.data-nav-display{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
}
h3.data-referencia-display{
    font-weight: bold;
    margin: 0;
    padding: 0;
}
a.nav-link-hoje, .badge{
    --color-border: #dddddd;

    padding: 0.4rem;
    font-size: 0.7rem;
    border: 2px solid var(--color-border);
    transition: all 100ms ease-in-out;
    & p {
        font-size: inherit;
    }
}
a.nav-link-hoje:hover{
    background-color: var(--bg-color-mid);
    color: white;
    font-weight: bolder;
    border-color: var(--bg-color-mid);
}

.badge-today{
    color: white;
    background-color: var(--bg-color-mid);
    border: none;
}

.data-nav-link {
    text-decoration: none;
    padding: 1rem 0.5rem;
    margin: 1rem;
    border-radius: 0.4rem;
    & * {
        width: fit-content;
        height: fit-content;
    }
}
.data-nav-link:hover {
    background-color: #dddddd;
}

.planilha-diaria > section {
    display: grid;
    /* Cria 4 colunas de largura igual */
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
    width: 100%;
    height: 90%;
    padding: 0.4rem;
    padding-bottom: 0.3rem;
    max-height: 70vh;
    overflow: hidden;
}

.status-coluna {
    display: flex;
    height: 100%;
    flex: 0;
    flex-direction: column;
    background-color: #e7e8e9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    max-height: 100%;
    overflow-y: auto;
}

.status-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    padding: 0.6rem 0.7rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
    border-radius: 0.25rem;
    text-align: left;
}

/* Cores específicas para cada título de status */
.status-pendente { background-color: #60a5fa; } /* Azul para Pendente */
.status-executando { background-color: #ff9706; } /* Amarelo para Em Andamento */
.status-finalizado { background-color: #42c572; } /* Verde para Finalizado */
.status-cancelado { background-color: #f87171; } /* Vermelho para Cancelado */

/* cards */
.cards-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    overflow-y: auto; /* Adiciona rolagem se os cartões excederem a altura */
    padding: 0.25rem;
    padding-left: 0;
    flex-grow: 1; /* Faz o contêiner crescer para preencher o espaço da coluna */
}

/* Mensagem para quando não há agendamentos */
.cards-empty {
    padding: 1rem;
    text-align: center;
    line-height: 2rem;
    color: #6b7280;
}

/* Estilo do Cartão de Agendamento */
.agendamento-card {
    background-color: white;
    border-radius: 0.5rem;
    border-width: 0.3rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-left: 0.3rem solid #e9dff9;
    transition: all 200ms ease-in-out, transform 200ms ease-in-out;
}

.agendamento-card:last-child {
    /* Espaço vazio para scroll */
    margin-bottom: 7rem;
}

.agendamento-card:hover {
    border-left: 0.3rem solid #c4b5fd;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.2);
}

.card-header, .card-body, .card-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card-header {
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.card-client {
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0;
    text-wrap: wrap;
}

.card-time {
    font-size: 0.8rem;
    color: #6b7280;
    text-wrap: nowrap;
}

.card-body {
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9rem;
    color: #4b5563;
}

.card-body hr {
    width: 100%;
    border: none;
    border-top: 2px solid #e5e7eb;
    margin: 0.25rem 0 0;
}

/* Ações do Cartão (Botões) */
.card-actions {
    margin-top: 0.2rem;
    width: 100%;
    justify-content: space-between;
}

.card-actions form {
    flex-grow: 1;
    display: flex;
}

form.small-action {
    max-width: calc(100% / 6);
}

form.medium-action {
    max-width: calc(100% / 2);
}

.card-actions .btn-action {
    width: 100%;
    padding: 0.5rem;
    border: none; /* Remove bordas */
    border-radius: 0.25rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 200ms ease-in-out, filter 250ms ease-in-out;
}

.card-actions .btn-action:hover {
    filter: brightness(1.08);
}

.btn-revert {
    background-color: #9ca3af; /* Cinza */
}

.btn-next {
    background-color: var(--bg-color-mid);
}

.btn-cancel {
    background-color: #ef4444; /* Vermelho */
}

.btn-voltar-pendente {
    background-color: #6098f3; /* Azul */
}

/* movimento em ações */
.btn-revert:hover, .btn-voltar-pendente:hover{
    transform: translateX(-2px);
}
.btn-next:hover{
    transform: translateX(2px);
}
.btn-cancel:hover{
    transform: scale(0.95);
}